<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input 
                matInput placeholder="Nome" 
                [(ngModel)]="product.name"
                name="name"
            >
        </mat-form-field>
        <mat-form-field>
            <input 
                matInput placeholder="Preço (R$)"
                [(ngModel)]="product.price"
                name="price"
            >
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

<!--
    true way data binding da tela para o codigo [()]
o normal e ir do código para tela de login mas precisamos fazer o true way data binding e e da tela para o codigo o componente visual e indo para o nosso codigo o typescript


-->