/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; } /*com material*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } /*com material*/

.red {
    color: rgb(227, 94, 107);
}

.v-middle{ /* class vertical midle alinhar verticalmente no meio usou no footer*/
    vertical-align: middle;
}

.msg-success { /*mudando a mensagem de erro*/
    background-color: #28a745;
    color: #fff;
}

.msg-error { /*mudando a mensagem de erro*/
    background-color: #e35e6b;
    color: #fff;
}

